<ion-header *ngIf="movieDetails">
  <ion-toolbar>
    <ion-title>{{ movieDetails.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToFavourites()">
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="primary" (click)="addToFavourites()">
    Add To Favourites
  </ion-button>
  
  <ng-container *ngIf="movieDetails">
    <ion-card>
      <ion-card-content>
        <p>{{ movieDetails.overview }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <h2>Cast</h2>
  <ion-card *ngFor="let actor of cast" (click)="openPerson(actor.id)">
    <img *ngIf="actor.profile_path"
         [src]="'https://image.tmdb.org/t/p/w500' + actor.profile_path" />
    <ion-card-header>
      <ion-card-title>{{ actor.character }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <h2>Crew</h2>
  <ion-card *ngFor="let member of crew" (click)="openPerson(member.id)">
    <img *ngIf="member.profile_path"
         [src]="'https://image.tmdb.org/t/p/w500' + member.profile_path" />
    <ion-card-header>
      <ion-card-title>{{ member.job }}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>


