<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <h1>Favourite Movies</h1>

  <ion-card *ngFor="let movie of favouriteMovies">
    <ion-img
      loading="lazy"
      style="width: 300px; height: auto; margin: 0 auto;"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
    </ion-img>

  
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-button color="danger" expand="block" (click)="remove(movie.id)">
      Remove
    </ion-button>  

    <ion-button expand="block" (click)="openDetails(movie.id)">
      DETAILS
    </ion-button>
  </ion-card>

</ion-content>


