<ion-header>
  <ion-toolbar style="--background: #032541; color: white;">

    <ion-title>
      G00474430
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToFavourites()">
        <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div style="
    background: linear-gradient(rgba(3,37,65,0.8), rgba(3,37,65,0.8)),
                url('assets/your-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
    color: white;
  ">

    <h1 style="font-size: 32px; font-weight: 700; margin-bottom: 10px;">
      Welcome.
    </h1>

    <h2 style="font-size: 18px; font-weight: 400; margin-bottom: 25px;">
      Millions of movies, TV shows and people to discover. Start exploring now.
    </h2>


   <!-- Enter Click Source: https://stackoverflow.com/questions/41597828/searchbar-search-on-enter-key -->
   <ion-searchbar
   placeholder="Search for Movie"
   [(ngModel)]="searchText"
   (keyup.enter)="onSearch()"
   shape="round"
   style="">
 </ion-searchbar>

 <!-- This has the button to search for a movie in the all movies API call, it does it by triggering the ts function onSearch so it switches between trending and all movies -->
 <ion-button expand="block" shape="round" (click)="onSearch()">
  Search
</ion-button>

</div>


<!-- This block of code dinamically changes the title betwwen Today's trending movies and whatever is search with the titleswitch ts code -->
<ion-text color="primary">
  <h1 style="padding-left: 16px;">{{ currentTitle }}</h1>
</ion-text>

<!-- This block of code will loop over the Json from the API and will show either trending or searched movies (based on the onSearch ts) and on click, it will directo to details by storing the id and pass it over the URL -->
 <ion-card *ngFor="let movie of displayedMovies" (click)="openDetails(movie.id)">
   <img loading="lazy" 
        src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
        style="width: 300px; height: auto; margin: 0 auto;"
        />
    
   <ion-card-header>
    <!-- This binding will bring the title from the either one or the other API -->
     <ion-card-title>{{ movie.title }}</ion-card-title>
   </ion-card-header>
   <!-- This binding will bring the overview from the either one or the other API -->
   <ion-card-content>
     {{ movie.overview }}
   </ion-card-content>
 </ion-card>
</ion-content>

